<div>
    <input type="text" id="mensaje" placeholder="Ingrese el Mensaje"> Bienvenido </input>
    <button id="btn-send" onClick="enviarMensaje()">Enviar</button>
</div>

<script src='socket.io/socket.io.js'></script>
<script src="/js/index.js"></script>

