{{!-- Este es el front (Cliente) --}}

<div>
    <input type="text" id="mensaje" placeholder="Ingrese el Mensaje"> Bienvenido </input>
    <button id="btn-send" onClick="enviarMensaje()">Enviar</button>
</div>

<script src='socket.io/socket.io.js'></script>
{{!-- el script siguiente es donde se da la funcionalidad al front --}}
<script src="/js/index.js"></script>

